@font-face {
	font-family: 'Red Hat Text';
	src: url('/fonts/red-hat-text-400.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Red Hat Text';
	src: url('/fonts/red-hat-text-600.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Red Hat Text';
	src: url('/fonts/red-hat-text-700.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	font-family: 'Red Hat Text', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--red: hsl(14, 86%, 42%);
	--green: hsl(159, 69%, 38%);

	--rose-50: hsl(20, 50%, 98%);
	--rose-100: hsl(13, 31%, 94%);
	--rose-300: hsl(14, 25%, 72%);
	--rose-400: hsl(7, 20%, 60%);
	--rose-500: hsl(12, 20%, 44%);
	--rose-900: hsl(14, 65%, 9%);

	--white: #ffffff;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

body {
	min-width: 320px;
	min-height: 100vh;
	background-color: var(--rose-100);
}

button {
	cursor: pointer;
	border: none;
	border-radius: 100vw;
}

.cart-items {
	max-height: 18rem;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 0.5rem;
	margin-bottom: 1rem;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.cart-items::-webkit-scrollbar {
	display: none;
}

.order-total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--rose-900);
}
.order-total span:first-child {
	font-size: 0.875rem;
}
.total-amount {
	font-size: 1.5rem;
	font-weight: bold;
}

.confirm-button {
	width: 100%;
	padding: 1rem 0;
	border: none;
	border-radius: 9999px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 600;
	color: var(--white);
	background-color: var(--red);
}
.confirm-button:hover {
	background-color: darkred;
}

.cart-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--rose-100);
	padding: 1rem 0;
	font-size: 0.875rem;
}
.item-name {
	font-weight: 600;
	margin-bottom: 8px;
	color: var(--rose-900);
}
.item-details {
	margin: 0;
	display: flex;
	gap: 0.5rem;
}
.item-quantity {
	font-weight: 600;
	color: var(--red);
}
.item-price {
	color: var(--rose-500);
}
.item-total {
	font-weight: 600;
	color: var(--rose-500);
}
