@font-face {
	font-family: 'Red Hat Text';
	src: url('/fonts/red-hat-text-400.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Red Hat Text';
	src: url('/fonts/red-hat-text-600.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Red Hat Text';
	src: url('/fonts/red-hat-text-700.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	font-family: 'Red Hat Text', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--red: hsl(14, 86%, 42%);
	--green: hsl(159, 69%, 38%);

	--rose-50: hsl(20, 50%, 98%);
	--rose-100: hsl(13, 31%, 94%);
	--rose-300: hsl(14, 25%, 72%);
	--rose-400: hsl(7, 20%, 60%);
	--rose-500: hsl(12, 20%, 44%);
	--rose-900: hsl(14, 65%, 9%);

	--white: #ffffff;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

body {
	min-width: 320px;
	min-height: 100vh;
	background-color: var(--rose-100);
}

button {
	cursor: pointer;
	border: none;
	border-radius: 100vw;
}
